[Unit]
description=htpasswd-auth-server
After=network.target

[Service]
ExecStart=/opt/htpasswd-auth-server/bin/htpasswd-auth-server run
User=htpasswd-auth-server

[Install]
WantedBy=multi-user.target
